.form {
  display: flex;
  flex-direction: column;
  margin: 38px 0 0;
}

.form__title {
  margin: 0 0 40px;
  padding: 0;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form__error {
  margin: 0 auto 0;
  min-height: 14px;
  color: #FF004C;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__button {
  width: 396px;
  height: 45px;
  z-index: 3;
  border-radius: 3px;
  background: #FF6838;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.form__button_register {
  margin-top: 6px;
}

.form__button_login {
  margin-top: 6px;
}

.form__error_register {
  margin-top: 49px;
}

.form__error_login {
  margin-top: 137px;
}

.form__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form__button_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
}

@media screen and (max-width: 425px) {
  .form {
    width: 260px;
    height: 575px;
    margin-top: 50px;
  }

  .form__title {
    margin-bottom: 80px;
    text-align: center;
  }

  .form__button {
    width: 260px;
    font-size: 12px;
  }

  .form__button_register {
    margin-top: 157px;
  }

  .form__button_login {
    margin-top: 250px;
  }
}
